@import url(https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css);

.calendar-container {
  width: var(--calendar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  --white: #ffffff;
  --green: #6ac080;
  --grey: #a7a7a7;
  --red: #db5b33;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
  width: var(--calendar-width);
  height: calc(var(--calendar-width) / 5);
  border-radius: calc(var(--calendar-width) / 30)
    calc(var(--calendar-width) / 30) 0px 0px;
  padding: 0px calc(var(--calendar-width) / 30);
}
.pagination {
  cursor: pointer;
  font-size: calc(var(--calendar-width) / 25);
}
.current-month-year {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-month {
  font-size: calc(var(--calendar-width) / 18.75);
}
.current-year {
  font-size: calc(var(--calendar-width) / 25);
}

.calendar-grid {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: 40px 40px 40px 40px 40px 40px; */
  background-color: var(--white);
  width: 100%;
  height: fit-content;
  border-radius: 0px 0px calc(var(--calendar-width) / 30)
    calc(var(--calendar-width) / 30);
  font-size: calc(var(--calendar-width) / 25);
  padding: 0px 5px 5px;
}
.calendar-grid span {
  justify-self: center;
  display: flex;
  align-items: center;
  height: calc(var(--calendar-width) / 7);
}

.sunday {
  color: var(--red);
}

.day-of-week,
.prev-next-month-day {
  color: var(--grey);
}

.today {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(var(--calendar-width) / 300) solid var(--green);
  border-radius: 50%;
}

.hovered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: 50%;
  color: var(--white);
}

.selected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: 50%;
  color: var(--white);
}
